In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.utils import Sequence
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv2D, MaxPooling2D, Flatten, Dense, Activation, Add
from tensorflow.keras.layers import BatchNormalization, Dropout, GlobalAveragePooling2D, GlobalMaxPooling2D
from tensorflow.keras.layers import ZeroPadding2D, MaxPooling2D
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint, LearningRateScheduler
import os
import seaborn as sns
import matplotlib.pyplot as plt
import cv2
import albumentations as A
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv("./data/train.csv")
test_df = pd.read_csv("./data/test.csv")

train_df["path"] = "./data/images/" + train_df["image_id"] + ".jpg"
test_df["path"] = "./data/images/" + test_df["image_id"] + ".jpg"

In [3]:
train_df

,image_id,healthy,multiple_diseases,rust,scab,path
0,Train_0,0,0,0,1,./data/images/Train_0.jpg
1,Train_1,0,1,0,0,./data/images/Train_1.jpg
2,Train_2,1,0,0,0,./data/images/Train_2.jpg
3,Train_3,0,0,1,0,./data/images/Train_3.jpg
4,Train_4,1,0,0,0,./data/images/Train_4.jpg
...,...,...,...,...,...,...
1816,Train_1816,0,0,0,1,./data/images/Train_1816.jpg
1817,Train_1817,1,0,0,0,./data/images/Train_1817.jpg
1818,Train_1818,1,0,0,0,./data/images/Train_1818.jpg
1819,Train_1819,0,0,1,0,./data/images/Train_1819.jpg
1820,Train_1820,0,0,0,1,./data/images/Train_1820.jpg